<br>
<br>
<div class="jumbotron">
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <a class="text-uppercase" href="<%= pages_index_path %>">PinGames</a>
        <p>The best forum to meet Games.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <a class="text-uppercase" href="<%= pages_contact_path %>">Sobre Nosotros</a>

        <ul class="list-unstyled">

        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Redes Sociales</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://twitter.com/home" class="fa fa-twitter"> Twitter</a>
          </li>
          <li>
            <a href="https://facebook.com" class="fa fa-facebook"> Facebook</a>
          </li>
          <li>
                <a href="https://www.instagram.com/?hl=es-la" class="fa fa-instagram"> Instragam</a>
          </li>
          <li>
                <a href="https://www.pinterest.cl/" class="fa fa-pinterest"> Pinterest</a>
          </li>
        </ul>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:  Todos los derechos reservados. |
    <a href="<%= pages_index_path %>"> PinGames.com</a>
  </div>
  <!-- Copyright -->

</footer>
</div>
<!-- Footer -->