</div>
<div class="container">
<div class="titulo">
</br>
    <h1 class="display-5">Pin Games</h1>
    <h4 style="color:darkkhaki"> La pagina perfecta para ti, en el cual podras ver y revisar las ultimas actualizaciones de sobre juegos.
    </h4>

    
</div>
    <div class="row">
        <div class="col-md-4">
            <p>Pingames es una página de imagenes en línea y gratuitos para todas las edades y gustos. Tenemos más de 10.000 imagenes agrupados en categorías diferentes para que todos encuentren la diversión que buscan. Pingames se compromete con los gamers ofreciendo una experiencia increible en tu día a día

            Puedes siempre llevar todos estas imagenes contigo en nuestra versión para celulares: Pingames para Celulares.</p>
            
            La página de Pingames es creado y administrado por los más choros, el blanco y el choro gera.
        </div>
        <div class="col-md-4">
            <p>LLorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium deleniti aspernatur
                exercitationem dignissimos. Totam, non? Adipisci iste sit iusto possimus, consectetur corporis rem
                facilis dolor itaque officiis architecto alias! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore nobis quos facere tempora, laborum consequatur officiis doloremque debitis harum
                exercitationem iusto magni nihil in? Facilis nihil dolorum aperiam inventore cum. Lorem ipsum, dolor sit
                amet consectetur adipisicing elit. Omnis necessitatibus, dolores dolor quos eos placeat, nostrum earum
                adipisci alias perspiciatis consectetur dolorem cupiditate corrupti? Neque tenetur optio debitis quos
                repellendus?</p>
        </div>
        <div class="col-md-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium deleniti aspernatur
                exercitationem dignissimos. Totam, non? Adipisci iste sit iusto possimus, consectetur corporis rem
                facilis dolor itaque officiis architecto alias! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore nobis quos facere tempora, laborum consequatur officiis doloremque debitis harum
                exercitationem iusto magni nihil in? Facilis nihil dolorum aperiam inventore cum. Lorem ipsum, dolor sit
                amet consectetur adipisicing elit. Omnis necessitatibus, dolores dolor quos eos placeat, nostrum earum
                adipisci alias perspiciatis consectetur dolorem cupiditate corrupti? Neque tenetur optio debitis quos
                repellendus?</p>
        </div>
        <div class="col3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium deleniti aspernatur
                exercitationem dignissimos. Totam, non? Adipisci iste sit iusto possimus, consectetur corporis rem
                facilis dolor itaque officiis architecto alias! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore nobis quos facere tempora, laborum consequatur officiis doloremque debitis harum
                exercitationem iusto magni nihil in? Facilis nihil dolorum aperiam inventore cum. Lorem ipsum, dolor sit
                amet consectetur adipisicing elit. Omnis necessitatibus, dolores dolor quos eos placeat, nostrum earum
                adipisci alias perspiciatis consectetur dolorem cupiditate corrupti? Neque tenetur optio debitis quos
                repellendus?</p>
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLx0sYbCqOb8TBPRdmBHs5Iftvv9TPboYG" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

