<div class="jumbotron">
    <div class="container">
    <h1 class="display-4">Mi Pinterest</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>
<div class="container">
<div class="titulo">
    <h1 class="display-5">Bienvenida</h1>
    <h3 style="color:darkkhaki">Intro Ruby on Rails</h3>
</div>
    <div class="row">
        <div class="col-md-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium deleniti aspernatur
                exercitationem dignissimos. Totam, non? Adipisci iste sit iusto possimus, consectetur corporis rem
                facilis dolor itaque officiis architecto alias! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore nobis quos facere tempora, laborum consequatur officiis doloremque debitis harum
                exercitationem iusto magni nihil in? Facilis nihil dolorum aperiam inventore cum. Lorem ipsum, dolor sit
                amet consectetur adipisicing elit. Omnis necessitatibus, dolores dolor quos eos placeat, nostrum earum
                adipisci alias perspiciatis consectetur dolorem cupiditate corrupti? Neque tenetur optio debitis quos
                repellendus?</p>
        </div>
        <div class="col-md-4">
            <p>LLorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium deleniti aspernatur
                exercitationem dignissimos. Totam, non? Adipisci iste sit iusto possimus, consectetur corporis rem
                facilis dolor itaque officiis architecto alias! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore nobis quos facere tempora, laborum consequatur officiis doloremque debitis harum
                exercitationem iusto magni nihil in? Facilis nihil dolorum aperiam inventore cum. Lorem ipsum, dolor sit
                amet consectetur adipisicing elit. Omnis necessitatibus, dolores dolor quos eos placeat, nostrum earum
                adipisci alias perspiciatis consectetur dolorem cupiditate corrupti? Neque tenetur optio debitis quos
                repellendus?</p>
        </div>
        <div class="col-md-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium deleniti aspernatur
                exercitationem dignissimos. Totam, non? Adipisci iste sit iusto possimus, consectetur corporis rem
                facilis dolor itaque officiis architecto alias! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore nobis quos facere tempora, laborum consequatur officiis doloremque debitis harum
                exercitationem iusto magni nihil in? Facilis nihil dolorum aperiam inventore cum. Lorem ipsum, dolor sit
                amet consectetur adipisicing elit. Omnis necessitatibus, dolores dolor quos eos placeat, nostrum earum
                adipisci alias perspiciatis consectetur dolorem cupiditate corrupti? Neque tenetur optio debitis quos
                repellendus?</p>
        </div>
        <div class="col3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium deleniti aspernatur
                exercitationem dignissimos. Totam, non? Adipisci iste sit iusto possimus, consectetur corporis rem
                facilis dolor itaque officiis architecto alias! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore nobis quos facere tempora, laborum consequatur officiis doloremque debitis harum
                exercitationem iusto magni nihil in? Facilis nihil dolorum aperiam inventore cum. Lorem ipsum, dolor sit
                amet consectetur adipisicing elit. Omnis necessitatibus, dolores dolor quos eos placeat, nostrum earum
                adipisci alias perspiciatis consectetur dolorem cupiditate corrupti? Neque tenetur optio debitis quos
                repellendus?</p>
        </div>
</div>