<div class="jumbotron" style="background-image: url(https://i.ibb.co/TRPLqz0/10.png); background-size: 100% 100%;">
    <div class="container">

        <br>
        <br>
        <a class="btn btn-primary btn-lg" href="<%= pages_contact_path %>" role="button">Leer Mas</a>

    </div>
</div>
<div class="container">
    <div class="titulo">
        <h1 class="display-5">PinGames</h1>
        <h4 style="color:yellow">La pagina perfecta para ti, en el cual podras ver y revisar las ultimas actualizaciones
            de sobre juegos.</h4>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium deleniti aspernatur
                exercitationem dignissimos. Totam, non? Adipisci iste sit iusto possimus, consectetur corporis rem
                facilis dolor itaque officiis architecto alias! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore nobis quos facere tempora, laborum consequatur officiis doloremque debitis harum
                exercitationem iusto magni nihil in? Facilis nihil dolorum aperiam inventore cum. Lorem ipsum, dolor sit
                amet consectetur adipisicing elit. Omnis necessitatibus, dolores dolor quos eos placeat, nostrum earum
                adipisci alias perspiciatis consectetur dolorem cupiditate corrupti? Neque tenetur optio debitis quos
                repellendus?</p>
        </div>
        <div class="col-md-4">
            <p>LLorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium deleniti aspernatur
                exercitationem dignissimos. Totam, non? Adipisci iste sit iusto possimus, consectetur corporis rem
                facilis dolor itaque officiis architecto alias! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore nobis quos facere tempora, laborum consequatur officiis doloremque debitis harum
                exercitationem iusto magni nihil in? Facilis nihil dolorum aperiam inventore cum. Lorem ipsum, dolor sit
                amet consectetur adipisicing elit. Omnis necessitatibus, dolores dolor quos eos placeat, nostrum earum
                adipisci alias perspiciatis consectetur dolorem cupiditate corrupti? Neque tenetur optio debitis quos
                repellendus?</p>
        </div>
        <div class="col-md-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium deleniti aspernatur
                exercitationem dignissimos. Totam, non? Adipisci iste sit iusto possimus, consectetur corporis rem
                facilis dolor itaque officiis architecto alias! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore nobis quos facere tempora, laborum consequatur officiis doloremque debitis harum
                exercitationem iusto magni nihil in? Facilis nihil dolorum aperiam inventore cum. Lorem ipsum, dolor sit
                amet consectetur adipisicing elit. Omnis necessitatibus, dolores dolor quos eos placeat, nostrum earum
                adipisci alias perspiciatis consectetur dolorem cupiditate corrupti? Neque tenetur optio debitis quos
                repellendus?</p>
        </div>
        <div class="col3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium deleniti aspernatur
                exercitationem dignissimos. Totam, non? Adipisci iste sit iusto possimus, consectetur corporis rem
                facilis dolor itaque officiis architecto alias! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore nobis quos facere tempora, laborum consequatur officiis doloremque debitis harum
                exercitationem iusto magni nihil in? Facilis nihil dolorum aperiam inventore cum. Lorem ipsum, dolor sit
                amet consectetur adipisicing elit. Omnis necessitatibus, dolores dolor quos eos placeat, nostrum earum
                adipisci alias perspiciatis consectetur dolorem cupiditate corrupti? Neque tenetur optio debitis quos
                repellendus?</p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/7TEF0lBpeXU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    
    </div>

</div>